#grid-container {
    display: flex;
    height: 960px;
    width: 960px;
}

.col {
    flex-direction: column;
    background-color: white;
}

.row {
    flex-direction: row;
    background-color: white;
}

.hovered {
    background-color: purple;
}

